<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Marsskom\ReservationAdmin\Api\Data\Product\MassAction\MassResultInterface"
                type="Marsskom\ReservationAdmin\Model\Adminhtml\Product\MassAction\MassResult"/>

    <virtualType name="Marsskom\ReservationAdmin\Ui\DataProvider\Product\Grid\Modifier\Pool"
                 type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="productLink" xsi:type="array">
                    <item name="class"
                          xsi:type="string">Marsskom\ReservationAdmin\Ui\DataProvider\Product\Modifier\ProductLink</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Marsskom\ReservationAdmin\Ui\DataProvider\Product\ReservationDataProvider">
        <arguments>
            <argument name="modifiersPool"
                      xsi:type="object">Marsskom\ReservationAdmin\Ui\DataProvider\Product\Grid\Modifier\Pool</argument>
        </arguments>
    </type>
</config>
